<%- include('header'); -%>
    <div class="container">
        <h1>
            <%= title %>
        </h1>
        <form action="/item" method="post">
            <div class="mb-3">
                <label for="desriptionInput" class="form-label">Description</label>
                <input type="text" name="description" required class="form-control" id="descriptionInput">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Ajouter au catalogue</button>
            </div>
        </form>
    </div>
    <%- include('footer') -%>